
 body {
    font-family: "Apple Chancery";
    background-image: url(https://user-images.githubusercontent.com/50184924/114294298-7bcd9b00-9a52-11eb-8612-e54d6414145b.jpg) ;
    background-size: auto;
    background-repeat: no-repeat;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    font-weight:bold;
    font-size: 120%;


}

/* the above style changes the background to a light yellow*/
     
h1 {
    
color: #ffffff;
font-family: 'Apple Chancery';
font-size: 350%;
font-weight:bold;
background-color: rgb(223, 130, 165);
text-align: center;
opacity: 1.25;
}

.container{
    text-align: center;
}
#passwordChecker {
    display:none;
}
#passwordGenerator {
  text-align:center;
  margin-top: -20%;
  display:none;
}
#passwordChecker {
  text-align:center;
  margin-top: -15%;
  display:none;
}


#password{
    text-align: center;
    opacity: 1.25;
}


#message_lower {
    display: none;
    
  }
  #message_upper {
    display: none;
    
  }
  #message_number {
    display: none;
    
  }
  #message_special {
    display: none;
    
  }
  #message_length {
    display: none;
    
  }
  #message_good {
    display: none;
    
  }
  #msg{
    

    color: white;
    
    background-color:rgb(223, 130, 165);
    display:inline-block;
    background-size: 5%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

  }
  #email_box{
      text-align:center;
      display: none;
  }

  #linkshow{
      display: none;
  }
  #generator, #checker,#homeButton, #generate {
    font-family: inherit;
    font-size: 2em;
    padding: 1em;
    margin: 1em;

    color: white;
    
    border-width: 0;
    background-color:rgb(223, 130, 165);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
    
   }
   #buttons{
    position: absolute;
    display: block;
    align-items: center;
    margin-top: -2%;
    margin-left: 27%;
    justify-content: center;
    
   }

   #homeButton {
    align-items: bottom;
    display: flex;
    
   }
   #generate {
     margin-top: 10%;
   }
   #submit1,#submit{
    background-color:rgb(223, 130, 165);
    font-family: inherit;
    color: white;
    border-radius: 20px;
   }

   
