
 body {
    font-family: 'Dosis', sans-serif;
    background-image: url(https://user-images.githubusercontent.com/50184924/114290748-a3af0580-9a36-11eb-9d4e-6bdb3d3db7ca.png) ;
    opacity: 0.75;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

}

/* the above style changes the background to a light yellow*/
     
h1 {
    
color: #ffffff;
font-family: 'Apple Chancery';
font-size: 350%;
background-color: rgb(223, 130, 165);
text-align: center;
opacity: 1.25;

    

}
.container{
    text-align: center;
}
#password{
    text-align: center;
    opacity: 1.25;
}


#message_lower {
    display: none;
    
  }
  #message_upper {
    display: none;
    
  }
  #message_number {
    display: none;
    
  }
  #message_special {
    display: none;
    
  }
  #message_length {
    display: none;
    
  }
  #email_box{
      display: none;
  }

  #linkshow{
      display: none;
  }
