
 body {
    font-family: 'Dosis', sans-serif;
    background-image: url(https://user-images.githubusercontent.com/50184924/114290748-a3af0580-9a36-11eb-9d4e-6bdb3d3db7ca.png) ;
    opacity: 0.75;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-width: 100%;
  min-height: 100%;

}

/* the above style changes the background to a light yellow*/
     
h1 {
    
color: #ffffff;
font-family: 'Apple Chancery';
font-size: 350%;
background-color: rgb(223, 130, 165);
text-align: center;
opacity: 1.25;
}

.container{
    text-align: center;
}
#passwordChecker {
    display:none;
}
#passwordGenerator {
  text-align:center;
  display:none;
}


#password{
    text-align: center;
    opacity: 1.25;
}


#message_lower {
    display: none;
    
  }
  #message_upper {
    display: none;
    
  }
  #message_number {
    display: none;
    
  }
  #message_special {
    display: none;
    
  }
  #message_length {
    display: none;
    
  }
  #email_box{
      text-align:center;
      display: none;
  }

  #linkshow{
      display: none;
  }
  #generater, #checker,#homeButton {
    font-family: inherit;
    font-size: 2em;
    padding: 1em;
    margin: 1em;

    color: white;
    
    border-width: 0;
    background-color:rgb(223, 130, 165);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
    
   }
   #buttons{
    display: block;
    align-items: center;
    margin-top: 20%;
    justify-content: center;
   }

   #home {
     display:block;
     justify-content:bottom;
   }

   