
 body {
    font-family: 'Dosis', sans-serif;
    background-image: url(https://user-images.githubusercontent.com/50184924/114280673-40e64b80-99ef-11eb-8303-ca3a1a82d348.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

}

/* the above style changes the background to a light yellow*/
     
h1 {
    
color: #000001;
font-family: 'Apple Chancery';
    
text-align: center;
    
font-size: 40px;

}
.container{
    text-align: center;
}   

#message_lower {
    display: block;
    
  }
  #message_upper {
    display: block;
    
  }
  #message_number {
    display: block;
    
  }
  #message_special {
    display: block;
    
  }
  #message_length {
    display: block;
    
  }